matplotlib
numpy
pandas
altair
altair_viewer
altair_saver
odfpy
asf_core_data@ git+ssh://git@github.com/nestauk/asf_core_data.git@52_remove_mcs_installations_from_test_account
nesta_ds_utils@ git+ssh://git@github.com/nestauk/nesta_ds_utils.git
